*
{
    box-sizing: border-box;
}

/* A */
#app-title::after
{
    content: "cliquez moi !";
    color: blue;
    font-size: small;
    position: absolute;
    top: 10px;
    left: 40px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
    transition-delay: 1000ms;
}

#app-title:hover::after
{
    transform: scaleX(1);
    transform-origin: left;
}

/* B */
.btn_area
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* C */
.container
{
    display: flex;
    flex-direction: column
    
}

/* H */
.title-area
{
    width: 25%;
}







/* I */
input
{
    text-align: center;
    border-radius: 3px;
    height: 2rem;
    font-size: 1.1rem;
}

input:hover
{
    background-color: cornflowerblue;
    color: white;
}

:disabled:hover
{
    background-color: red;
}

:disabled:hover::after
{
    content: "coucou";
    position: relative;
    top: 19px
}

@media (max-width: 800px) {
    .container
    {
        flex: 50%;
    }
  }