*
{
    box-sizing: border-box;
}

/* A */
#app-title::after
{
    content: "cliquez moi !";
    color: blue;
    font-size: small;
    position: absolute;
    top: 10px;
    left: 40px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
    transition-delay: 1000ms;
}

#app-title:hover::after
{
    transform: scaleX(1);
    transform-origin: left;
}

/* B */
.boxes
{
    display: flex;
}
.btn_area
{
    display: flex;
    justify-content: flex-start;
    margin: 20px 10px;
}

.btn_area > *
{
    margin: 10px;
}

#btn_send:disabled
{
    background-color: lightgray;
    color: grey;
}

#btn_send:disabled:hover
{
    background-color: red;
    color: black;
}

/* C */
.container
{
    display: flex;
    flex-direction: row
    
}

.col-3
{
    width: 25%;
    border: 1px solid red;
}

.col-4
{
    width: 33%;
    border: 1px solid blue;
}

.col-6
{
    width: 50%;
}

.col-12
{
    width: 100%;
    text-align: center;
}

/* F */
.fiveButtonsArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 10px;
    
    height: 100px;

}

.fiveButtonsArea > button
{
    height: 2rem;
    margin: 1px;
}

.fiveButtonsArea > button:hover
{
    background-color: green;
    color: white;
}

.raiseButtonsArea
{
    border: 2px solid greenyellow;
    z-index: 2;
}

/* H */
html 
{
    scroll-behavior: smooth;
}

.input:hover
{
    transform: scale(1.05);
}



/* I */
input
{
    
    text-align: center;
    border-radius: 3px;
    height: 2rem;
    font-size: 1.1rem;
}

input:hover
{
    background-color: cornflowerblue;
    color: white;
}

:disabled:hover
{
    background-color: red;
}

:disabled:hover::after
{
    content: "coucou";
    position: relative;
    top: 19px
}

@media (max-width: 800px) {
    .container
    {
        flex-direction: column;
    }
  }